.btn{
  margin-top: 10px;
}
.header{
  background: #333333;
  margin-bottom: 40px;
  margin-top: 0px;
  color: #ffffff;
  padding: 10px  20px 20px 20px;
}
.login{
  margin-right: 20px;
  margin-top: 35px;
}
.inline{
  display: inline-block;
}